<section id="header">
    <div id="match_teams">
        <div id="round_info" style="height: 100%;">
            <div id="team_1" class="team_info" style="height: 100%;">
                <div id="team_score">0</div>
                <div id="team_logo"><img src="images/csgo_logo.png"/></div>
                <div id="team_name">Team 1</div>
            </div>
            <div id="team_2" class="team_info" style="height: 100%;">
                <div id="team_score">0</div>
                <div id="team_logo"><img src="images/csgo_logo.png"/></div>

                <div id="team_name">Team 2</div>
            </div>
            <div id="time_counter">1:55</div>
            <div id="round_counter">Round 0 / 30</div>
        </div>
    </div>
    <div id="round_teamwin">Ganador</div>
</section>

<section id="player_list">
    <div id="team_ct" class="team">
        <div class="money">
            <img src="images/team.png" style="max-height: 70%; margin-top:10px; margin-left:10px; float:left;" class="invert" />
            <div style="width:25%; float:left; color: #add28b;  text-shadow: 0 0 8px black;">
                <div class="first_title_tm">Team money:</div>
                <div class="first_tm" id="team_money_1" style="font-weight:600">$0</div>
            </div>
            <img src="images/eq.png" style="max-height: 70%; margin-top:10px; float:left;" class="invert" />
            <div style="width:40%; float:left; color: #f7bf16; text-shadow: 0 0 8px black;">
                <div class="first_title_tm">Equipment value:</div>
                <div class="first_tm" id="eq_money_1" style="font-weight:600">$0</div>
            </div>
        </div>
        <div id="player1" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar1">
                    <div class="hp_el" id="hp_p1">100</div>
                    <div class="bar_username player_username1" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player2" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar2">
                    <div class="hp_el" id="hp_p2">100</div>
                    <div class="bar_username player_username2" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>

                </div>
            </div>
        </div>
        <div id="player3" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar3">
                    <div class="hp_el" id="hp_p3">100</div>
                    <div class="bar_username player_username3" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>

                </div>
            </div>
        </div>
        <div id="player4" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar4">
                    <div class="hp_el" id="hp_p4">100</div>
                    <div class="bar_username player_username4" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player5" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar5">
                    <div class="hp_el" id="hp_p5">100</div>
                    <div class="bar_username player_username5" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="team_t" class="team">
        <div class="money">
            <img src="images/team.png" style="max-height: 70%; margin-top:10px; margin-right:10px; float:right; " class="invert" />
            <div style="width:25%; float:right; color: #add28b;  text-shadow: 0 0 8px black; text-align:right;">
                <div class="first_title_tm" style="width: 300px;">Team money:</div>
                <div class="first_tm" id="team_money_2" style="font-weight:600">$0</div>
            </div>
            <img src="images/eq.png" style="max-height: 70%; margin-top:10px; margin-right:10px; float:right;" class="invert" />
            <div style="width:40%; float:right; color: #f7bf16; text-shadow: 0 0 8px black; text-align:right">
                <div class="first_title_tm" style="width: 300px;">Equipment value:</div>
                <div class="first_tm"  id="eq_money_2" style="font-weight:600">$0</div>
            </div>
        </div>
        <div id="player6" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar6">
                    <div class="hp_el" id="hp_p6">100</div>
                    <div class="bar_username player_username6" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player7" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar7">
                    <div class="hp_el" id="hp_p7">100</div>
                    <div class="bar_username player_username7" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player8" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar8">
                    <div class="hp_el" id="hp_p8">100</div>
                    <div class="bar_username player_username8" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player9" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar9">
                    <div class="hp_el" id="hp_p9">100</div>
                    <div class="bar_username player_username9" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player0" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar0">
                    <div class="hp_el" id="hp_p0">100</div>
                    <div class="bar_username player_username0" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ingame_ui">
    <div id="stats_container">
        <div id="round_stats">
            <div id="stats_1st">
                <div style="height:85px; width:50%; position: absolute; right:0; border-left:1px dotted white;"></div>
                <div style="height:85px; width:50%; position: absolute; left:0; border-right:1px dotted white;"></div>
                <div class="first_t">
                    <div class="round_team_1_name">TEAM 1</div>
                </div>
                <div class="sec_t">
                    <div class="round_team_2_name">TEAM 1</div>
                </div>
            </div>
            <div id="stats_2nd">
                <div class="first_t">
                    <div class="round_team_1_name">TEAM 1</div>
                </div>
                <div class="sec_t">
                    <div class="round_team_2_name">TEAM 1</div>
                </div>
            </div>
        </div>
        <div id="left_stats">
            <div id="firstcol" style="right:50.5%"></div>
            <div id="seccol" style="right:50.5%"></div>
            <div id="stats_player1" class="stats_player st_left">
                <div id="stat_money" class="st_left">
                    -$1000
                </div>
                <div class="adr_stat st_left">
                    <div class="adr_bar st_right"></div>
                    <div class="adr st_right">100 ADR</div>
                </div>
            </div>
            <div id="stats_player2" class="stats_player st_left">
                <div id="stat_money" class="st_left">
                    -$1000
                </div>
                <div class="adr_stat st_left">
                    <div class="adr_bar st_right"></div>
                    <div class="adr st_right">100 ADR</div>
                </div>
            </div>
            <div id="stats_player3" class="stats_player st_left">
                <div id="stat_money" class="st_left">
                    -$1000
                </div>
                <div class="adr_stat st_left">
                    <div class="adr_bar st_right"></div>
                    <div class="adr st_right">100 ADR</div>
                </div>
            </div>
            <div id="stats_player4" class="stats_player st_left">
                <div id="stat_money" class="st_left">
                    -$1000
                </div>
                <div class="adr_stat st_left">
                    <div class="adr_bar st_right"></div>
                    <div class="adr st_right">100 ADR</div>
                </div>
            </div>
            <div id="stats_player5" class="stats_player st_left">
                <div id="stat_money" class="st_left">
                    -$1000
                </div>
                <div class="adr_stat st_left">
                    <div class="adr_bar st_right"></div>
                    <div class="adr st_right">100 ADR</div>
                </div>
            </div>
        </div>
        <div id="right_stats">
            <div id="firstcol" style="left:50.5%"></div>
            <div id="seccol" style="left:50.5%"></div>
            <div id="stats_player6" class="stats_player st_right">
                <div id="stat_money" class="st_right">
                    -$1000
                </div>
                <div class="adr_stat st_right">
                    <div class="adr_bar st_left"></div>
                    <div class="adr st_left">100 ADR</div>
                </div>
            </div>
            <div id="stats_player7" class="stats_player st_right">

                <div id="stat_money" class="st_right">
                    -$1000
                </div>
                <div class="adr_stat st_right">
                    <div class="adr_bar st_left"></div>
                    <div class="adr st_left">100 ADR</div>
                </div>
            </div>
            <div id="stats_player8" class="stats_player st_right">
                <div id="stat_money" class="st_right">
                    -$1000
                </div>
                <div class="adr_stat st_right">
                    <div class="adr_bar st_left"></div>
                    <div class="adr st_left">100 ADR</div>
                </div>
            </div>
            <div id="stats_player9" class="stats_player st_right">
                <div id="stat_money" class="st_right">
                    -$1000
                </div>
                <div class="adr_stat st_right">
                    <div class="adr_bar st_left"></div>
                    <div class="adr st_left">100 ADR</div>
                </div>
            </div>
            <div id="stats_player0" class="stats_player st_right">
                <div id="stat_money" class="st_right">
                    -$1000
                </div>
                <div class="adr_stat st_right">
                    <div class="adr_bar st_left"></div>
                    <div class="adr st_left">100 ADR</div>
                </div>
            </div>
        </div>
    </div>
    <div id="flash_container">
        <div id="flash_stats"></div>
        <div id="left_flashes">
            <div id="flash_player1" class="flash_player st_left"></div>
            <div id="flash_player2" class="flash_player st_left"></div>
            <div id="flash_player3" class="flash_player st_left"></div>
            <div id="flash_player4" class="flash_player st_left"></div>
            <div id="flash_player5" class="flash_player st_left"></div>
        </div>
        <div id="right_flashes">
            <div id="flash_player6" class="flash_player st_right"></div>
            <div id="flash_player7" class="flash_player st_right"></div>
            <div id="flash_player8" class="flash_player st_right"></div>
            <div id="flash_player9" class="flash_player st_right"></div>
            <div id="flash_player0" class="flash_player st_right"></div>
        </div>
    </div>
    <div id="player_container">
        <div id="container2">
            <div id="first_row">
                <div id="current_nick">
                    Nickname!
                </div>
                <div id="ammo">
                    <div id="clip-text" class="clip">100</div>
                    <div id="reserve-text" class="reserve">100</div>
                </div>
                <div id="health_armor">
                    <div id="health_text">100</div>
                    <div id="armor_text">100</div>
                </div>
                <div id="nades">
                    <img src='images/weapons/weapon_flashbang.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                    <img src='images/weapons/weapon_smokegrenade.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                    <img src='images/weapons/weapon_hegrenade.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                </div>
            </div>
            <div id="second_row" class="ct_color">
                <div id="nick_also" class="inlining">
                    <!--REAL NAME NICK??? nbsp to keep bottom bar-->&nbsp;
                </div>
                <div class="inlining" id="stats">
                    <div class="inlining" id="kills_section"><div id="kills_count" class="inlining">13</div>&nbsp;/&nbsp;</div>
                    <div class="inlining" id="assist_section"><div id="assist_count" class="inlining">13</div>&nbsp;/&nbsp;</div>
                    <div class="inlining" id="death_section"><div id="death_count" class="inlining">13</div></div>
                </div>
            </div>
        </div>
    </div>
</section>
