<section id="header">

         <div id="match_teams">
            <div id="round_info" style="height: 100%;">

            <div id="team_1" class="team_info" style="height: 100%;">
              <div id="team_score">0</div>
              <div id="team_logo" class="team_logo1"><img src="images/logos/usa.png"/></div>
              <div id="team_name">Team 1</div>
            </div>
            <div id="team_2" class="team_info" style="height: 100%;">
                <div id="team_score">0</div>
                <div id="team_logo" class="team_logo2"><img src="images/logos/usa.png"/></div>
                <div id="team_name">Team_2</div>
            </div>
            <div id="round_time">
                <div id="time_counter">1:55</div>
                <div id="round_counter">Round 0 / 30</div>
            </div>
            <div id="c4_time">
              <div id="round_bomb" class="contenedor">
              	<img src="images/unnamed.png" class="center-block imagen-bomb">
                <div class="progreso"></div>
              </div>
            </div>
            <h1 id="minutos" class="text-danger text-center hiden"></h1>
            <div class='win_round_team1' style="position: absolute; top: 75px; left: 165px; width: 180px; background: rgba(0, 0, 0, 0.65);">
                <div style="width:100%; float:left; color: #f1f1f1;  text-shadow: 0 0 8px black;">
                    <div class="first_tm win_color_1" style="font-weight:600; padding-top: 10px;">&nbsp;&nbsp;WIN ROUND!</div>
                </div>
            </div>
            <div class='win_round_team2' style="position: absolute; top: 75px; right: 165px; width: 180px; background: rgba(0, 0, 0, 0.65);">
                <div style="width:100%; float:left; color: #f1f1f1;  text-shadow: 0 0 8px black;">
                    <div class="first_tm win_color_2" style="font-weight:600; padding-top: 10px;">&nbsp;&nbsp;WIN ROUND!</div>
                </div>
            </div>

            <div id="match_tournament">
        			<div style="margin:auto; width:100%">
        				<!--
                <div id="match_one_info">0</div>
        				<div id="match_two_info">0</div>
              -->
        				<div id="match_info">SEASON 28 - BO1</div>
        			</div>
            </div>
    </div>
</section>

<section id="player_list">
    <div class='tournament' style="position: absolute; width: 296px;">
        <div style="width:100%; float:left; color: #f1f1f1;  text-shadow: 0 0 8px black;">
            <div class="first_title_tm" style="font-weight:600">&nbsp;&nbsp;ESEA Season 28</div>
            <div class="first_tm">&nbsp;Main Norteamerican</div>
        </div>
    </div>
    <div id="team_ct" class="team">
        <div class="money">
            <img src="images/team.png" style="max-height: 70%; margin-top:10px; margin-left:10px; float:left;" class="invert" />
            <div style="width:25%; float:left; color: #add28b;  text-shadow: 0 0 8px black;">
                <div class="first_title_tm">Team money:</div>
                <div class="first_tm" id="team_money_1" style="font-weight:600">$0</div>
            </div>
            <img src="images/eq.png" style="max-height: 70%; margin-top:10px; float:left;" class="invert" />
            <div style="width:40%; float:left; color: #f7bf16; text-shadow: 0 0 8px black;">
                <div class="first_title_tm">Equipment value:</div>
                <div class="first_tm" id="eq_money_1" style="font-weight:600">$0</div>
            </div>
        </div>
        <div id="player1" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar1">
                    <div class="hp_el" id="hp_p1">100</div>
                     <div style="15px;" class="bar_username player_username1" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player2" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar2">
                    <div class="hp_el" id="hp_p2">100</div>
                     <div style="15px;" class="bar_username player_username2" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>

                </div>
            </div>
        </div>
        <div id="player3" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar3">
                    <div class="hp_el" id="hp_p3">100</div>
                     <div style="15px;" class="bar_username player_username3" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>

                </div>
            </div>
        </div>
        <div id="player4" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar4">
                    <div class="hp_el" id="hp_p4">100</div>
                     <div style="15px;" class="bar_username player_username4" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player5" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar5">
                    <div class="hp_el" id="hp_p5">100</div>
                     <div style="15px;" class="bar_username player_username5" >Username</div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys ct">0$</div>
                    <div class="bomb_defuse ct">
                        <img src="images/defuse.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon ct" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="team_t" class="team">
        <div class="money">
            <img src="images/team.png" style="max-height: 70%; margin-top:10px; margin-right:10px; float:right; " class="invert" />
            <div style="width:25%; float:right; color: #add28b;  text-shadow: 0 0 8px black; text-align:right;">
                <div class="first_title_tm" style="width: 300px;">Team money:</div>
                <div class="first_tm" id="team_money_2" style="font-weight:600">$0</div>
            </div>
            <img src="images/eq.png" style="max-height: 70%; margin-top:10px; margin-right:10px; float:right;" class="invert" />
            <div style="width:40%; float:right; color: #f7bf16; text-shadow: 0 0 8px black; text-align:right">
                <div class="first_title_tm" style="width: 300px;">Equipment value:</div>
                <div class="first_tm"  id="eq_money_2" style="font-weight:600">$0</div>
            </div>
        </div>
        <div id="player6" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar6">
                    <div class="hp_el" id="hp_p6">100</div>
                     <div style="15px;" class="bar_username player_username6" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player7" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar7">
                    <div class="hp_el" id="hp_p7">100</div>
                     <div style="15px;" class="bar_username player_username7" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player8" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar8">
                    <div class="hp_el" id="hp_p8">100</div>
                     <div style="15px;" class="bar_username player_username8" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player9" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar9">
                    <div class="hp_el" id="hp_p9">100</div>
                     <div style="15px;" class="bar_username player_username9" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
        <div id="player0" class="player">
            <div class="bar1">
                <div class="hp_bar hp_bar0">
                    <div class="hp_el" id="hp_p0">100</div>
                     <div style="15px;" class="bar_username player_username0" >Username</div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">K</div>
                    <div class="assists">A</div>
                    <div class="deaths">D</div>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="equip_bar">
                    <div class="hp_el"></div>
                    <div class="moneys t">0$</div>
                    <div class="bomb_defuse t">
                        <img src="images/bomb.png" class="invert_brightness" />
                    </div>
                    <div class="bar_weapon t" id="weapon_icon"></div>
                </div>
                <div class="stat_t">
                    <div class="kills">0</div>
                    <div class="assists">0</div>
                    <div class="deaths">0</div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="player_container">
        <div id="container2">
            <div id="first_row">
                <div id="current_nick">
                    Nickname!
                </div>
            </div>
            <div id="second_row" class="ct_color">
                <div id="current_stats">
                  <div class="inlining" id="stats">
                        <div class="inlining" id="kills_section"><div class="inlining stats_text">K</div>&nbsp;<div id="kills_count" class="inlining">13</div></div>&nbsp;&nbsp;
                        <div class="inlining" id="assist_section"><div class="inlining stats_text">A</div>&nbsp;<div id="assist_count" class="inlining">13</div></div>&nbsp;&nbsp;
                        <div class="inlining" id="death_section"><div class="inlining stats_text">D</div>&nbsp;<div id="death_count" class="inlining">13</div></div>
                  </div>
                    <div class="inlining" id="kit">
                          <div class="inlining"><div id="defusekit" class="inlining"></div></div>
                    </div>
                  <div id="nades">
                      <img src='images/weapons/weapon_flashbang.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                      <img src='images/weapons/weapon_smokegrenade.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                      <img src='images/weapons/weapon_hegrenade.png' style='max-height: 35px; width:auto; filter: invert(100%); float:right; margin-right:10px;' />
                  </div>
                  <div id="health_armor">
                      <div id="health_text">100</div>
                      <div id="armor_text">100</div>
                  </div>
                  <div id="ammo">
                      <div id="clip-text" class="clip">100</div>
                      <div id="reserve-text" class="reserve">100</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
