@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {
    display: none;
}
.color {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: color .25s ease-in-out;
}
#timer {
    position: relative;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.timelabel {
    font-size: 1.3em;
    padding-top: 30px;
    transition: .25s ease-in-out;
}
.time {
    font-size: 7em;
    transition: .25s ease-in-out;
}
.first_title_tm {
    height: 35px;
    display: table-cell;
    vertical-align: bottom;
}
.invert {
    filter: invert(100%);
}
.first_tm {
    height: 60%;
    font-size: 30px;
    margin-top: -10px;
}
#player_container {
    position: fixed;
    bottom: 143px;
    font-family: 'Saira Semi Condensed', sans-serif;
    left: 50%;
    margin-left: -460px;
    height: 50px;
    width: 920px;
}
#round_stats {
    height: 85px;
    width: 100%;
}
.st_left {
    float: left;
    text-align: left;
}
.st_right {
    float: right;
    text-align: right;
}
.stats_player {
    height: 63px;
    width: 100%;
    margin-bottom: 4px;
    display: inline-block;
}
.adr_bar {
    width: 75%;
    height: 40%;
    background-color: red;
    margin-top: 18px;
}
.adr_bar .st_right {
    background: linear-gradient(to right, #506375, #2b8be1);
}
.adr_bar .st_left {
    background: linear-gradient(to right, #d18802, #876529);
}
#firstcol {
    position: absolute;
    width: 29.5%;
    height: 100%;
    border-left: dotted 1px white;
    border-right: dotted 1px white;
}
#seccol {
    position: absolute;
    width: 14.25%;
    height: 100%;
    border-left: dotted 1px white;
    border-right: dotted 1px white;
}
.adr_stat {
    width: 79%;
    height: 100%;
}
.adr {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    width: 20%;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
#stats_1st,
#stats_2nd {
    height: 100%;
    width: 50%;
}
#stats_1st {
    float: left;
}
#stats_2nd {
    height: 100%;
    width: 50%;
    float: right;
}
.first_t,
.sec_t {
    width: 100%;
    height: 50%;
    line-height: 42.5px;
    position: relative;
}
.first_t {
    border-bottom: 1px solid white;
}
.sec_t {
    border-top: 1px solid white;
}
#stats_1st>.ct-win,
#stats_1st>.t-win {
    width: 2.5%;
    float: right;
}
#stats_2nd>.t-win,
#stats_2nd>.ct-win {
    float: left;
    width: 2.5%;
}
.t-win.fst {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, #C45B26 50%, rgba(0, 0, 0, 0) 85%);
}
.ct-win.fst {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, #3376a5 50%, rgba(0, 0, 0, 0) 85%);
}
.t-win.snd {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, #C45B26 46%, rgba(0, 0, 0, 0) 46%);
}
.ct-win.snd {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, #3376a5 46%, rgba(0, 0, 0, 0) 46%);
}
.fst > img { /**/
    top: 50px;
}
.snd > img { /**/
    margin-top: 65px !important;
}
.t-win>img,
.ct-win>img {
    width: 100%;
    margin-top: 10px;
}
.skull,
.bomb {
    filter: brightness(140%);
}
.defuse {
    filter: brightness(200%);
}
.t-win,
.ct-win {
    margin-right: 2px;
    margin-left: 2px;
    height: 100%;
}
#right_stats {
    width: 50%;
    height: 100%;
    float: right;
}
#stats_container {
    position: fixed;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Saira Semi Condensed', sans-serif;
    left: 50%;
    margin-left: -550px;
    height: 420px;
    width: 1100px;
}
#player_container i {
    font-size: 30px;
    left: 3px;
}
#health {
    color: #2ecc71;
}
#health_text {
    background-image: url("images/hp.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left center;
    display: inline-block;
    margin-left: 0px;
    padding-left: 17px;
    font-weight: 900;
    width: 55px;
}
#health_bar {
    display: inline-block;
    width: calc(100% - 118px);
    height: 20px;
    transform: skewX(40deg);
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    position: relative;
}
#stats_1st > .first_t > .round_team_1_name,
#stats_1st > .sec_t > .round_team_2_name { /**/
    position: absolute;
    height: 100%;
    width: 45%;
    text-align: right;
}
#stats_2nd > .first_t > .round_team_1_name,
#stats_2nd > .sec_t > .round_team_2_name { /**/
    position: absolute;
    height: 100%;
    width: 65%;
    text-align: right;
}
#armor,
#health {
    height: 30px;
}
#armor {
    margin-left: -5px;
    color: #3498db;
}
#armor .fa-stack {
    width: 35px;
}
#armor .fa-plus {
    color: white;
    font-size: 15px;
    top: -5px;
}
#armor_text {
    background-image: url("images/armor.png");
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: left center;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
    font-weight: 900;
    width: 55px;
}
#armor_bar {
    display: inline-block;
    width: calc(100% - 98px);
    height: 20px;
    transform: skewX(40deg);
    background-color: rgba(242, 101, 34, 62);
    overflow: hidden;
    position: relative;
}
.level {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0px;
    transition: left 0.2s linear;
}
#health_bar .level {
    background-color: #2ecc71;
}
#armor_bar .level {
    background-color: #3498db;
}
#ammo-container {
    position: fixed;
    bottom: 0px;
    right: -26px;
    background-color: #2c3e50;
    height: 63px;
    width: 300px;
    transform: skewX(-40deg);
}
#ammo-container #container2 {
    margin-right: 60px;
    transform: skewX(40deg);
    float: right;
}
#ammo-container span {
    font-size: 50px;
}
#ammo-container .clip {
    font-size: 50px;
}
#ammo-container .reserve {
    font-size: 30px;
}
#first_row {
    height: 70%;
    position: relative;
    left: 20%;
    width: 60%;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: linear-gradient(to left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
}
.ct_color {
    background-color: linear-gradient(to right, rgba(78, 98, 0.7512, 0.7500), rgba(106, 0.7596, 255, 0.7500));
}
.t_color {
    background-color: #C45B26;
}
#second_row {
    height: 30%;
    position: relative;
    width: 100%;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background: linear-gradient(to left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
}
#current_nick {
    width: 100%;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-right: 50%;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}
#current_nick::before {
    width: 27px;
    height: 20px;
    margin-right: 10px;
}
#current_stats {
    position: relative;
    width: 100%;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-right: 50%;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}
#health_armor {
    position: relative;
    font-family: 'Saira Semi Condensed', sans-serif;
    height: 100%;
    width: 22%;
    float: left;
}
#stat_money {
    width: 20%;
    height: 100%;
    color: #ef562d;
    text-shadow: 0 0 8px black;
    font-size: 25px;
    font-weight: 600;
    margin-top: 12px;
}
#left_stats {
    width: 50%;
    height: 100%;
    float: left;
}
#ammo {
    position: absolute;
    left: 90%;
    font-family: 'Saira Semi Condensed', sans-serif;
    height: 100%;
    width: 10%;
    float: right;
}
.inlining {
    display: inline;
}
#stats {
    position: absolute;
    left: 35%;
    float: inherit;
    width: 30%;
}
#kit {
    position: absolute;
    left: 74%;
    width: 7%;
}
#clip-text {
    display: inline-block;
    font-size: 27px;
    font-weight: 900;
}
#reserve-text {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
}
#nades {
    position: absolute;
    left: 80%;
    height: 100%;
    width: 25%;
}
#weapon_flashbang {
    background-image: url("images/weapons/weapon_flashbang.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
#weapon_smokegrenade {
    background-image: url("images/weapons/weapon_smokegrenade.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
#weapon_hegrenade {
    background-image: url("images/weapons/weapon_hegrenade.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
#weapon_decoy {
    background-image: url("images/weapons/weapon_decoy.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
#weapon_molotov {
    background-image: url("images/weapons/weapon_molotov.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
#weapon_incgrenade {
    background-image: url("images/weapons/weapon_incgrenade.png");
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
}
.uplogo {
    bottom: 400px !important;
}
.team {
    width: 550px;
    height: 420px;
}
#team_ct {
    position: fixed;
    left: 0;
    bottom: 0;
}
.equip_bar>.bar_weapon {
    width: 165px !important;
}
#team_t {
    position: fixed;
    right: 0;
    bottom: 0;
}
.player {
    background-color: rgba(0, 0, 0, 0.65);
    width: 410px;
    height: 63px;
    margin-bottom om: 4px;
}
.bar1 {
    width: 100%;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
}
.bottom_bar {
    width: 100%;
    height: 27px;
}
#team_ct>.player>.bar1>.hp_bar {
    width: 295px;
    background: #31afff;
    height: 100%;
    float: left;
    text-shadow: 0px 0px 10px black;

}
#team_t>.player>.bar1>.hp_bar {
    width: 295px;
    background: #C45B26;
    height: 100%;
    float: right;
    text-shadow: 0px 0px 10px black;

}
.money {
    height: 85px;
    background: rgba(0, 0, 0, 0.65);
}
.tournament {
    height: 85px;
    width: 53%;
    background: rgba(0, 0, 0, 0.65);
}
#team_ct > .money { /**/
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.5) 410px, rgba(0, 0, 0, 0.0) 410px);
}
#team_t > .money { /**/
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.5) 410px, rgba(0, 0, 0, 0.0) 410px);
}
.stat_t {
    background: rgba(0, 0, 0, 0.65);
    float: right;
    height: 100%;
    width: 115px;
}
#team_ct > .player > .bar1 >.stat_t,
#team_ct > .player > .bottom_bar >.stat_t { /**/
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5));
}
#team_t > .player > .bar1 >.stat_t,
#team_t > .player > .bottom_bar >.stat_t { /**/
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5));
}
#team_ct > .player { /**/
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
}
#team_t > .player { /**/
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
}
.bar1>.stat_t {
    color: rgba(255, 255, 255, 0.3);
}
.stat_t>.kills,
.stat_t>.assists,
.stat_t>.deaths {
    float: left;
    width: 33%;
    text-align: center;
    font-weight: 400;
}
#team_ct>.player>.bar1>.hp_bar>.hp_el,
#team_ct>.player>.bottom_bar>.equip_bar>.hp_el {
    float: left;
    width: 40px;
    height: 100%;
    text-align: center;
}
#team_t>.player>.bar1>.hp_bar>.hp_el,
#team_t>.player>.bottom_bar>.equip_bar>.hp_el {
    float: right;
    width: 40px;
    height: 100%;
    text-align: center;
}
#team_ct>.player>.bar1>.hp_bar>.bar_username {
    float: left;
    margin-left: 15px;
    width: 120px;
    overflow: hidden;
}
#team_t>.player>.bar1>.hp_bar>.bar_username {
    float: right;
    text-align: right;
    margin-right: 15px;
    width: 120px;
    overflow: hidden;
}
#team_ct>.player>.bar1>.hp_bar>.bar_weapon,
#team_ct>.player>.bottom_bar>.equip_bar>.bar_weapon {
    float: right;
    width: 120px;
    height: 100%;
}
#team_t>.player>.bar1>.hp_bar>.bar_weapon,
#team_t>.player>.bottom_bar>.equip_bar>.bar_weapon {
    float: left;
    width: 120px;
    height: 100%;
}
#team_ct >.player >.bottom_bar >.equip_bar {
    width: 295px;
    height: 100%;
    float: left;
}
#team_t>.player>.bottom_bar>.equip_bar {
    width: 295px;
    height: 100%;
    float: right;
}
.bottom_bar>.stat_t {
    font-weight: bolder !important;
}
.bomb_defuse {
    margin: auto;
    width: 30px;
    height: 100%;
}
.bomb_defuse.ct {
    float: left;
}
.bomb_defuse.t {
    float: right;
}
.moneys.ct {
    height: 100%;
    width: 60px;
    float: left;
}
.moneys.t {
    height: 100%;
    width: 60px;
    float: right;
}
.bar_weapon.ct>img {
    float: right;
    padding-right: 3px;
}
.bar_weapon.t>img {
    float: left;
    padding-right: 3px;
}
.bar_weapon>.invert {
    filter: invert(70%);
}
.bomb_defuse>.invert_brightness {
    filter: brightness(5%) invert(100%);
}
.bar_weapon>.invert.checked {
    filter: invert(100%);
}
.equip_bar>.moneys {
    color: #add28b;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
}
.img_hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.equip_bar>.bomb_defuse>img,
.equip_bar>.bar_weapon>img,
.hp_bar>.bar_weapon>img,
.equip_bar>.hp_el>img {
    height: 75%;
    width: auto;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
}
.hp_bar>.bar_weapon>img.invert {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(70%);
}
.hp_bar>.bar_weapon>img.checked.invert {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(100%);
}
#team_t >.player {
    float: right;
}
#header {
    width: 1050px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -525px;
}
#match_tournament {
    width: 35%;
    display: table;
    margin: auto;
    height: 30px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
#match_teams {
    width: 100%;
    margin-top: 15px;
    height: 60px;
    background: linear-gradient(to right, rgba(0, 0, 0, .55), rgba(0, 0, 0, .95), rgba(0, 0, 0, .55));
}
#team_name {
    text-shadow: 0 0 0px black;
}
#time_counter {
    font-size: 22px;
    font-weight: bold;
    width: 13%;
    height: 50%;
    margin: auto;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
#round_counter {
    width: 13%;
    height: 50%;
    margin: auto;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.team_info {
    width: 45%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
#team_1 {
    text-align: right;
    float: left;
    color: #000000;
}
#team_2 {
    text-align: left;
    float: right;
    color: #000000;
}
#team_score {
    margin-top: 5px;
}
#team_1 > #team_name { /**/
    margin-top: 5px;
    float: right;
    color: #ffffff;

}
#team_2 > #team_name { /**/
    margin-top: 5px;
    float: left;
    color: #ffffff;

}
#team_1 > #team_score { /**/
    margin-right: 25px;
    float: right;
    color: #ffffff;
}
#team_2 > #team_score { /**/
    margin-left: 25px;
    float: left;
    color: #ffffff;
}
#team_logo {
    width: 10%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}
#team_logo > img { /**/
    margin-top: 8px;
    height: 70%;
}
#team_1>#team_logo {
    float: right;
}
#team_2>#team_logo {
    float: left;
}
#flash_container {
    position: fixed;
    bottom: 0px;
    font-family: 'Saira Semi Condensed', sans-serif;
    left: 50%;
    margin-left: -550px;
    height: 420px;
    width: 1100px;
}
#flash_stats {
    height: 85px;
    width: 100%;
}
#left_flashes {
    width: 10%;
    height: 100%;
    float: left;
}
#right_flashes {
    width: 10%;
    height: 100%;
    float: right;
}
.flash_player {
    height: 63px;
    width: 100%;
    margin-bottom: 4px;
    display: inline-block;
}
.flash_player > img { /**/
    height: 100%;
    margin-top: 5px;
}
#match_tournament > div { /**/
    line-height: 30px;
}
#match_one_info {
    float: left;
    width: 20%;
    text-align: right;
    font-weight: 600;
}
#match_two_info {
    float: right;
    width: 20%;
    text-align: left;
    font-weight: 600;
}
#match_info {
    margin: auto;
    width: 60%;
    text-align: center;
    font-weight: 500;
}
#drop_container {
    position: fixed;
    top: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    font-family: 'Saira Semi Condensed', sans-serif;
    right: 0;
    margin-top: 10px;
    height: 55px;
    width: 200px;
}
.stats_text{
  font-weight: bold;
}
#round_bomb {
    font-size: 28px;
    font-weight: bold;
    width: 6.1%;
    height: 62%;
    margin: auto;
    text-align: center;
    background: white;
}
.container {
    position: absolute;
    bottom: 0px;
    width: 832px; /*Cambiar para aumentar o disminuir ancho del banner de logos*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.progreso {
    background: red;
    width: 100%;
    height: 0px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
}
.contenedor {
    width: 65px; /*modificar solo width para modificar tamaño del contenedor de la bomba */
	/*si se modifica el width tambien se debe modificar el width de la clase .imagen.bomb con el mismo valor*/
    margin: 7px auto; /*modificar para subir o bajar la posicion de la bomba*/
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.carousel {
    background: rgba(0, 0, 0, 0.6); /*modificar para cambiar color del banner*/
    padding: 10px;
}
.imagen-bomb {
    position: relative;
    z-index: 10;
    width: 65px; /*modificar solo width para modificar tamaño de la bomba */
	/*si se modifica el width tambien se debe modificar el width de la clase .contenedor con el mismo valor*/
}

.carousel-inner{
	height: 40px;
}
.hiden {
  display: none;
}
#c4_time {

}
